img.icon-image{
    width: 30px;
    height: 30px;
    margin: 5px 10px;
}

div.links-bar{
    margin: auto;
    justify-content: center;
}

a.social{
    display: inline-block;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    margin: 3px 10px 3px 10px;
    transition: .3s;
}

a.mail-icon{
    background-image: url("../images/mail-200.png");
}

a.linkedin-icon{
    background-image: url("../images/linked-in-200.png");
}

a.github-icon{
    background-image: url("../images/github-120.png");
}

a.codepen-icon{
    background-image: url("../images/codepen-64.png");
}

a.landing-page-icon{
    background-image: url("../images/flower-logo-line-200.png");
}